<template>
  <nav class="flex justify-between items-center px-8 md:px-16 py-8">
    <a class="font-black text-3xl tracking-wide" href="/">Fitclub</a>
    <button
      class="rounded-full px-5 py-2  text-white bg-primary hover:bg-primary-dark"
    >
      Login
    </button>
  </nav>
</template>

<script>
export default {};
</script>

<style></style>
