<template>
  <section class="grid grid-cols-12 p-8 md:p-16">
    <div
      class="col-span-12 order-last xl:order-first xl:col-span-5 flex flex-col justify-between"
    >
      <div></div>
      <div class="">
        <h1 class="text-5xl sm:text-6xl font-light">
          <span class="font-black text-6xl sm:text-7xl">30 Days</span>
          <br />Fitness Challenge
        </h1>
        <p class="text-lg text-gray-700 mt-4 mb-8">
          Start a 30 day fitness challenge with the FitClub smart app and keep
          track of your daily activities
        </p>
        <button
          class="bg-primary hover:bg-primary-dark rounded-r-full rounded-bl-full px-12 py-4 text-xl text-white"
        >
          Start Challenge
        </button>
      </div>
      <div
        class="grid grid-cols-2 sm:grid-cols-4 justify-items-center xl:justify-items-start mt-16"
      >
        <div class="flex flex-col items-center text-center px-3 py-6 ">
          <span class="shield bg-primary text-white">
            <HeartIcon />
          </span>
          <span class="font-bold text-lg mt-3"
            >Heart<br />
            80</span
          >
          <span class="text-sm text-gray-500">Per min</span>
        </div>
        <div
          class="flex flex-col items-center text-center px-3 py-6 border rounded-full border-primary"
        >
          <span class="shield bg-darkgreen text-white">
            <EyeIcon />
          </span>
          <span class="font-bold text-lg mt-3"
            >Calories<br />
            950</span
          >
          <span class="text-sm text-gray-500">Kcal</span>
        </div>
        <div class="flex flex-col items-center text-center px-3 py-6 ">
          <span class="shield bg-darkyellow text-white">
            <MoonIcon />
          </span>
          <span class="font-bold text-lg mt-3"
            >Sleep<br />
            8:30</span
          >
          <span class="text-sm text-gray-500">Hours</span>
        </div>
        <div class="flex flex-col items-center text-center px-3 py-6 ">
          <span class="shield bg-darkpurple text-white">
            <ClockIcon />
          </span>
          <span class="font-bold text-lg mt-3"
            >Training<br />
            2:00</span
          >
          <span class="text-sm text-gray-500">Hours</span>
        </div>
      </div>
    </div>
    <div class="mb-4 xl:mt-0 col-span-12 xl:col-span-7 self-end">
      <img src="~/assets/undraw_fitness_tracker_3033.png" />
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style>
body {
  font-family: "Lato";
}

.shield {
  @apply rounded-full p-2;
}

.reverse {
  direction: ;
}
</style>
